* {
    margin: 0;
}

.title {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    border: 1px solid red;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}
.gong{
    border-bottom: 1px solid black;
    width: 1200px;
    height: 70px;
    margin: 50px auto;
    font-size: 1.5rem;
}
.table_title{
    width: 1200px;
    border: 0px solid blue;
    margin: 0 auto;
    margin-top: -30px;
}
.table_title tr{
}
.table_title tr td{
    width: 20%;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.table_title tr td:hover{
   background-color: black;
   color: white;
}
.content{
    margin: 20px auto;
    border: 0px solid black;
    width: 1200px;

}
.content tr{
    
}
.content tr:hover{
    background-color: #ccc;
}
.content tr:nth-child(1):hover{
    background:none;
}
.content tr td{ 
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 35px;
    margin-top: 5px;
}
.content tr th{ 
    border-top: 1px solid green;
    border-bottom: 1px solid gray;
    height: 35px;
}
.content tr th:nth-child(1){
    
    width: 10%;    
}
.content tr th:nth-child(2){
    width: 15%;    
}
.content tr th:nth-child(3){
    width: 65%;    
}
.content tr th:nth-child(4){
    width: 10%;    
}

.crudTest{
    margin: auto;
}

.crudTest tr th{
    border: 1px solid black;
    width: 15%;
}
.crudTest tr th:hover{
    background-color: #ccc;
    cursor: pointer;
}
.crudTest tr th:first-child:hover,
.crudTest tr th:last-child:hover {
    background: none;
}